beautifulsoup4==4.14.3
cachetools==5.5.2
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.7
curl-cffi==0.15.0
google-auth==2.23.4
google-auth-httplib2==0.1.1
google-auth-oauthlib==1.1.0
greenlet==3.2.4
gspread==6.1.0
httplib2==0.31.2
idna==3.11
jsonparse==0.15.1
markdown-it-py==4.0.0
mdurl==0.1.2
oauthlib==3.3.1
pyasn1==0.6.3
pyasn1-modules==0.4.2
pycparser==3.0
pygments==2.20.0
pyparsing==3.3.2
redis==7.4.0
requests==2.33.1
requests-oauthlib==2.0.0
rich==14.3.4
rnet==2.4.2
rsa==4.9.1
soupsieve==2.8.3
strenum==0.4.15
typing-extensions==4.15.0
urllib3==2.6.3
